<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Heatmap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="heatmapContainer" style="width:1000px; height: 1000px;">
    <!-- Overlay is for the backgorund. You can even add image instead -->
    <div class="overlay"></div> 
  </div>
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Heatmap</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="heatmapContainer" style="width:500px; height: 500px;">
    <!-- Overlay is for the backgorund. You can even add image instead -->
    <div class="overlay"></div> 
  </div>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>