<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Clips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Clips</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="container">
      <div *ngFor="let img of imgs">
        <video width="320" height="240" controls>
          <source src="{{img}}"
                  type="video/mp4" />
        </video>
      </div>
    
    </div>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
